@font-face {
  font-family: "Exo 2";
  src: url("./data/fonts/Exo2.ttf");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-padding-top: 2rem;
}

html,
body {
  font-family: "Exo 2", sans-serif;
  scroll-behavior: smooth;
}

.lite-youtube {
  transform: scale(1.2) !important;
}
